---
version: 2
updates:
  # --- NPM / PNPM Configuration ---
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "deps"
      include: "scope"
    labels:
      - "dependencies"
      - "pnpm"
    groups:
      dependencies:
        dependency-type: "production"
      devDependencies:
        dependency-type: "development"

  # --- GITHUB ACTIONS Configuration ---
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
      include: "scope"
    labels:
      - "ci"
      - "github-actions"
    groups:
      github-actions:
        patterns:
          - "*"