---
name: Code Quality Checks

on:
    pull_request:
        branches: [main]

jobs:
    quality-checks:
        name: Run Linting & Type Checks
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up pnpm
              uses: pnpm/action-setup@v4
            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: '20'
                  cache: 'pnpm'
            - name: Install dependencies
              run: pnpm install
            - name: Run ESLint
              run: pnpm lint
            - name: Run TypeScript Check
              run: pnpm tsc --noEmit
